html {
    height: 100%;
    width: 100%;
  }

  .col-12 {
  font-size: 80px;
  font-weight: bold;
  color: #ff6600; /* Un color llamativo como naranja */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
  font-family: 'Arial Black', sans-serif;
}

.ABCDE-Section {
  font-size: 80px;
  font-weight: bold;
  color: #ff6600; /* Un color llamativo como naranja */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  background-color: #f0f0f0; /* Un gris claro para empezar */
  padding: 20px; /* Opcional: Añade un poco de espacio alrededor del contenido */
  border-radius: 10px; /* Opcional: Esquinas redondeadas */
}